.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #232424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#92968a;
}

.App-link {
  color: #61dafb;
}

.navbar{
  padding: 20px;
  background-color: #888887;
  color: white;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #232424; 
  color: beige;
  margin: 0;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.mainPhoto{
  width: 300px;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

.Plant{
  width: 300px;
  height: 300px;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

.image-container{
  text-align: center;
  
}

.hobby-list{
  align-items: center;
  background-color: #c5afa2;
  color: black;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;     
  padding: 1rem; 
  background-color: #232424;
}
.grid-item {
  background-color: #524b49;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  text-align: left;
}

.grid-item h3 {
  margin-top: 0;
  text-align: center;
}

.grid-item p {
  margin-bottom: 0;
}

.grid-item a{
  color: #c5afa2;
  text-decoration: underline;
}

.grid-item a:hover{
  text-decoration: none;
}

